.header-image {
    background-image: url('../../media/david_header.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    font-size: 2.5em;
}


.header-image {
    height: 70vh;
}

@media only screen and (max-width: 600px) {
    .header-image {
        height: 50vh;
        background-size: cover;
    }

}