.project-grid {
    margin-top: 2%;
    margin-bottom: 2%;
}

.project-row {
    position: relative;
    margin: 1%;
    /*padding = 0 to prevent dimming effect feeling shoddy*/
    padding: 0;
}

.project-grid-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.mobile-text{
    background-color: grey;
    opacity: 0.6;
}
.projects {
    margin-top: 3%;
}

h2 {
    opacity: 1;
}